::selection {
  background-color: var(--red);
}

body {
  font-family: 'Fira Sans' !important;
  font-weight: normal;
  min-height: 100vh !important;
}

@media (max-width: 768px) {
  :root {
    --text-scale-ratio: 1.125;
  }
  p {
    font-size: 1em !important;
    line-height: var(--line-height-header);
  }
}
