::selection {
  background-color: var(--red);
}

body {
  font-family: 'Fira Sans' !important;
  font-weight: normal;
  min-height: 100vh !important;
}

@media (max-width: 768px) {
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }

  .navbar .navbar-collapse {
    text-align: center;
  }
}
