@use '../abstracts/mixins' as *;

.card {
  background: var(--white) !important;
  box-shadow: none !important;
}

.card-container {
  @include flex(row, center, center);
  background-color: inherit;
  max-width: 800px !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 30px 0 rgba(0, 0, 0, 0.25) !important;
  margin-block: 3rem;
  padding: 0.75rem;
}

.card-image {
  margin-inline: 1rem;
}

.card-title {
  font-weight: var(--font-weight-bold);
  color: var(--dark-background);
}

.card-text {
  color: var(--dark-background);
}

@media (max-width: 768px) {
  .card-container {
    flex-direction: column !important;
  }
}
