.footer-inner {
  padding-block: 1rem;
}

.custom-footer {
  background-color: var(--dark-background);
  color: var(--white);
  padding: 1rem;
  margin-top: 3rem;
}

a.footer-link {
  color: rgb(71, 144, 240) !important;

  &:hover {
    color: var(--red) !important;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
  }
}

.footer-text {
  color: var(--white);
}
