@use '../abstracts/mixins' as *;

.introduction {
  @include flex(column, center, center);
  background-color: var(--dark-background);
  padding-block: 1rem;
  color: var(--white);
  margin-bottom: 3rem;
}

.introduction h5 {
  margin-top: 1rem;
}
