@use '../abstracts/mixins' as *;

.knowledges {
  padding-block: 3rem;
}

.knowledges-wrapper {
  justify-content: center !important;
  align-items: center !important;
  padding-top: 2.5rem;
  gap: 20rem;
}

.fa-user-graduate,
.fa-code {
  font-size: 6rem;
  margin-block: 0.3em;
  color: var(--red);
}

.single-knowledge {
  @include flex(column, center, center);
  min-height: 450px;
  flex-basis: 0 !important;

  p {
    margin-top: 1em;
    width: 40ch;
  }
}

.single-skill {
  @include flex(row, center, center);
  gap: 10em;
  padding-bottom: 4rem;
  border-bottom: 2px solid rgb(153, 151, 151);

  &:not(:nth-child(1)) {
    margin-top: 3rem;
  }

  p {
    width: 30ch;
  }

  img {
    padding-block: 1.2em;
  }

  h2 {
    color: var(--dark-background) !important;
  }
}

.skill-images {
  gap: 3rem;
}

@media (max-width: 768px) {
  .skills {
    text-align: center;
  }

  .skill-header {
    & h2 {
      text-align: center;
    }
  }

  .single-skill {
    gap: 0;
    &:last-child {
      border-bottom: none;
    }
  }

  .skill-images {
    display: none;
  }
}
