@use '../abstracts/mixins' as *;

.navbar {
  background-color: var(--dark-background) !important;
  color: var(--white) !important;
  @include flex(row, center, center);
  gap: 2rem;
}

.navbar-brand {
  color: var(--white) !important;
  text-transform: uppercase;
  font-weight: var(--font-weight-bold);
}

.navbar-item {
  color: var(--white) !important;
  transform: none !important;
  font-size: 18px;
}

.navbar-burger {
  transform: none !important;
  & > span {
    color: var(--white);
  }
}

.navbar-item:hover {
  background-color: var(--dark-background) !important;
}

div.navbar-menu.is-active {
  background-color: var(--dark-background);
}

@media (max-width: 768px) {
  .navbar {
    gap: 0;
    flex-direction: column !important;
  }
  .navbar-burger {
    flex-direction: column;
  }
}
