@use '../abstracts/mixins' as *;

.navbar {
  background-color: var(--dark-background) !important;
  color: var(--white) !important;
  @include flex(row, center, center);
  gap: 2rem;
}

.navbar-brand {
  color: var(--white) !important;
  text-transform: uppercase;
  font-weight: var(--font-weight-bold);
  color: var(--white) !important;
}

.navbar-item {
  color: var(--white) !important;
  font-size: 18px;
}

.navbar-item:hover {
  background-color: var(--dark-background) !important;
}
