:root {
  --black: #000;
  --white: #fff;
  --red: #a6171b;
  --dark-background: #0f0e17;
  --font-family: "Fira Sans" !important;
  --text-base-size: 1em;
  --text-scale-ratio: 1.25;
  --text-h4: calc(1em * var(--text-scale-ratio));
  --text-h3: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-h2: calc(
    1em * var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio)
  );
  --text-h1: calc(
    1em * var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio) * var(--text-scale-ratio)
  );
  --border-radius: 40px;
  --font-weight-bold: 700;
  --font-weight-regular: 400;
  --line-height-header: 1.9;
  --line-height-body: 1.5em;
}

@font-face {
  font-family: "Fira Sans";
  src: url("../../../fonts/fira/eot/FiraSans-Regular.eot");
  src: url("../../../fonts/fira/eot/FiraSans-Regular.eot") format("embedded-opentype"), url("../../../fonts/fira/woff2/FiraSans-Regular.woff2") format("woff2"), url("../../../fonts/fira/woff/FiraSans-Regular.woff") format("woff"), url("../../../fonts/fira/ttf/FiraSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Fira Sans";
  src: url("../../../fonts/fira/eot/FiraSans-Italic.eot");
  src: url("../../../fonts/fira/eot/FiraSans-Italic.eot") format("embedded-opentype"), url("../../../fonts/fira/woff2/FiraSans-Italic.woff2") format("woff2"), url("../../../fonts/fira/woff/FiraSans-Italic.woff") format("woff"), url("../../../fonts/fira/ttf/FiraSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Fira Sans";
  src: url("../../../fonts/fira/eot/FiraSans-Bold.eot");
  src: url("../../../fonts/fira/eot/FiraSans-Bold.eot") format("embedded-opentype"), url("../../../fonts/fira/woff2/FiraSans-Bold.woff2") format("woff2"), url("../../../fonts/fira/woff/FiraSans-Bold.woff") format("woff"), url("../../../fonts/fira/ttf/FiraSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Fira Sans";
  src: url("../../../fonts/fira/eot/FiraSans-BoldItalic.eot");
  src: url("../../../fonts/fira/eot/FiraSans-BoldItalic.eot") format("embedded-opentype"), url("../../../fonts/fira/woff2/FiraSans-BoldItalic.woff2") format("woff2"), url("../../../fonts/fira/woff/FiraSans-BoldItalic.woff") format("woff"), url("../../../fonts/fira/ttf/FiraSans-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
h1 {
  color: var(--dark-background);
  font-size: var(--text-h1) !important;
  font-weight: var(--font-weight-regular);
}

h2 {
  font-size: var(--text-h2) !important;
  font-weight: var(--font-weight-regular);
}

h3 {
  color: var(--dark-background);
  font-size: var(--text-h3) !important;
  font-weight: var(--font-weight-bold);
}

h4 {
  color: var(--dark-background);
  font-size: var(--text-h4) !important;
  font-weight: var(--font-weight-regular);
}

p {
  color: var(--dark-background);
  font-size: 18px !important;
}

a {
  text-decoration: none !important;
}

::selection {
  background-color: var(--red);
}

body {
  font-family: "Fira Sans" !important;
  font-weight: normal;
  min-height: 100vh !important;
}

@media (max-width: 768px) {
  :root {
    --text-scale-ratio: 1.125;
  }

  p {
    font-size: 1em !important;
    line-height: var(--line-height-header);
  }
}
.navbar {
  background-color: var(--dark-background) !important;
  color: var(--white) !important;
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: center !important;
  gap: 2rem;
}

.navbar-brand {
  color: var(--white) !important;
  text-transform: uppercase;
  font-weight: var(--font-weight-bold);
  color: var(--white) !important;
}

.navbar-item {
  color: var(--white) !important;
  font-size: 18px;
}

.navbar-item:hover {
  background-color: var(--dark-background) !important;
}

.custom-rounded {
  border-radius: 80px !important;
}

.centered {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
}

.content {
  line-height: 1.7 !important;
  color: var(--dark-background);
}

.flex-row {
  flex-direction: row !important;
}

.bck-wrapper {
  background-color: var(--dark-background);
}

.text-uppercase {
  text-transform: uppercase;
}

.projects-wrapper {
  max-width: 450px !important;
}

.title {
  color: var(--dark-background);
}

.footer-inner {
  padding-block: 1rem;
}

.custom-footer {
  background-color: var(--dark-background);
  color: var(--white);
  padding: 1rem;
  margin-top: 3rem;
}

a.footer-link:hover {
  color: var(--red) !important;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.footer-text {
  color: var(--white);
}

div.card-container > div.card.custom-rounded {
  background: var(--white) !important;
  box-shadow: none !important;
}

.card-container {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: center !important;
  background-color: inherit;
  max-width: 800px !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 30px 0 rgba(0, 0, 0, 0.25) !important;
  margin-block: 3rem;
  padding: 0.75rem;
}

.card-image {
  margin-inline: 1rem;
}

.card-title {
  font-weight: var(--font-weight-bold);
  color: var(--dark-background);
}

.card-text {
  color: var(--dark-background);
}

.true-card {
  max-width: 100px;
}

@media (max-width: 768px) {
  .card-container {
    flex-direction: column !important;
  }
}
.introduction {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  background-color: var(--dark-background);
  padding-block: 1rem;
  margin-bottom: 3rem;
}

.introduction h1,
.introduction h5 {
  color: var(--white);
}

.introduction h5 {
  margin-top: 1rem;
  padding-bottom: 1rem;
}

.knowledges {
  padding-block: 3rem;
}

.knowledges-wrapper {
  justify-content: center !important;
  align-items: center !important;
  padding-top: 2.5rem;
  gap: 20rem;
}

.fa-user-graduate,
.fa-code {
  font-size: 6rem;
  margin-block: 0.3em;
  color: var(--red);
}

.single-knowledge {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  min-height: 450px;
  flex-basis: 0 !important;
}

.single-knowledge p {
  margin-top: 1em;
  width: 40ch;
}

/*# sourceMappingURL=style.css.map */
